body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {

  #home-hero {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;

    h1 {


      color: navajowhite;
      font-size: 45px;
      font-weight: 400;
      letter-spacing: .1em;
    }
     h2  {
      color: #e3d5af;
       font-family:  BlinkMacSystemFont, sans-serif;
       text-align: left;
      font-size: 25px;
      font-weight: 400;
       margin-top: 0;
       letter-spacing: .15em;
       text-shadow: 0  0 3px #282c34;
       &#anime {
         animation : 10s animation1 4s forwards ease-in-out ;
         animation-iteration-count: infinite;
         opacity: 0;



       }

    }
  }
}
@keyframes animation1 {
    from {
      opacity: 0;
      margin-top: 0;
      letter-spacing: .15em;


    }
     50% {
       opacity: 1;
       margin-top: 0;
       letter-spacing: .2em;

     }
   to {
     opacity: 0;
     margin-top: 100px;
     letter-spacing: 1.5em;
   }
}
