body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {

  #home-hero {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 7%;

    h1 {


      color: navajowhite;
      font-size: 45px;
      font-weight: 400;
      letter-spacing: .1em;
    }
     h2  {
      color: #eaba7f;
       text-align: left;
      font-size: 25px;
      font-weight: 400;
      letter-spacing: .25em;
       text-shadow: 0  0 3px #282c34;
       margin-top: 0;
       &::after {
         content: 'Осознанная игра';
         height: 60px;
         padding-top: 30px;
         display: block;
         background: #040301;
         z-index: 333;
         position: relative;
         margin-top: -25px;
         animation: animate1 15s forwards 5s ease-in-out infinite ;
         opacity: 0;
       }



    }
  }
}
@keyframes animate1  {
  from {
    margin-top: -25px;
    opacity: 0;
  }
  40% {
    opacity: 1;
    margin-top: -25px;
  }
  50%{
    margin-top: 0;
    color: #eaba7f;

    //color: #ffffff;
    opacity: 1;

   60% {
     opacity: 0;
     margin-top: -25px;


   }
  }
  99% {
    opacity: 0;
    margin-top: 0;

  }
  to {
    opacity: 0;
    //margin-left: 50px;
  }
  
}
