body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {

  #home-hero {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;

    h1 {


      color: navajowhite;
      font-size: 45px;
      font-weight: 400;
      letter-spacing: .1em;
    }
     h2  {
      color: #eaba7f;
       text-align: left;
      font-size: 25px;
      font-weight: 400;
      letter-spacing: .25em;
       text-shadow: 0  0 3px #282c34;
       margin-top: 0;
        &#anime {
          animation: animate1 20s forwards 3s ease-in-out infinite ;
          opacity: 0;
        }

    }
  }
}
@keyframes animate1  {
  from {
    color: #eaba7f;

    opacity: 0;
    letter-spacing: .26em;
    font-size: 24px;


  }
  50%{
    color: white;
    opacity: 1;
    letter-spacing: .25em;
    font-size: 25px;
   60% {
     opacity: 0;
   }

  }
  99% {
    opacity: 0;
    font-size: 25px;


  }
  to {
    opacity: 0;
    //margin-left: 50px;
  }
  
}
